@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
body {
  margin: 0;
  background-color: #004289;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5; }

nav {
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 2; }

.img-tp {
  width: 70px;
  height: 70px;
  margin: 18px 18px 0 0; }

img {
  width: 100%; }

#menu {
  background-color: rgba(19, 39, 57, 0.8);
  color: #fff;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  transition: all 0.5s;
  font-weight: 500; }

#menu:target {
  left: 0px; }

a {
  font-weight: 600;
  color: #004289;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s; }

li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 600; }

.x {
  position: absolute;
  top: 35px;
  left: 480px;
  width: 13px;
  height: 13px;
  display: none; }

#menu:target .x {
  display: block; }

.hamburger {
  display: none; }

@media (max-width: 600px) {
  .hamburger {
    display: block;
    width: 25px;
    height: 25px;
    margin: 18px 18px 0 0; }
  .menu-pc {
    display: none; }
  .mobile-nav-overlay {
    display: block; } }
